{% extends "layout.html" %}

{% block content %}
    <h3>{{pages.title}} </h3>
    <h3>{{pages.tags}} </h3>
      <!-- <a href="PLACEHOLDER_URL_TITLE/similar">Similar</a>)</small> -->
    <h4>by <a href="PLACEHOLDER-AUTHOR-URL">{{author.name}}</a></h4>
    <!-- <div>PLACEHOLDER TAG LIST</div> -->
    <hr/>
    <!-- <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div> -->
    <div class="page-body">{{pages.content}}</div>
    <hr/>
    <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
    <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
